<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.an9elkiss.api.manager.dao.ShareCommentDao">

	<insert id="save" parameterType="com.an9elkiss.api.manager.model.ShareComment"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		`t_share_comment`
		(`description`,

		`share_id`,

		`user_id`,
		`user_name`,
		`level`,

		`status`,
		`create_by`,
		`update_by`,
		`create_time`,
		`update_time`)
		VALUES
		(#{description},

		#{shareId},

		#{userId},
		#{userName},
		#{level},

		#{status},
		#{createBy},
		#{updateBy},
		#{createTime},
		#{updateTime});
	</insert>

	<select id="findBySearchParams" parameterType="java.util.Map"
		resultType="com.an9elkiss.api.manager.model.ShareComment">
		SELECT

		id id,
		description description,

		share_id shareId,

		user_id userId,
		user_name userName,
		level level,

		status status,
		create_by createBy,
		create_time createTime,
		update_by updateBy,
		update_time updateTime

		FROM
		t_share_comment
		WHERE 1=1
		and status != 21
		<if test="searchParams.shareId!=null">
			and share_id = #{searchParams.shareId}
		</if>

	</select>

	<select id="findByShareId" parameterType="java.util.Map"
		resultType="com.an9elkiss.api.manager.command.ShareCommentCommand">
		SELECT

		t2.description description,
		t1.score score,
		t1.share_id
		shareId,
		t1.user_id userId,
		t1.user_name userName,
		t1.level level,

		t1.status status,
		t1.create_by createBy,
		t1.create_time createTime,
		t1.update_by updateBy,
		t1.update_time updateTime

		FROM
		t_share_praise_score t1 , t_share_comment t2
		WHERE 1=1
		and t1.status !=
		21
		and t1.share_id = t2.share_id
		AND t1.user_id = t2.user_id
		and
		t1.share_id = #{shareId}
		ORDER BY t2.update_time DESC

	</select>

</mapper>