<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.an9elkiss.api.manager.dao.ShareDao">


	<insert id="save" parameterType="com.an9elkiss.api.manager.model.Share"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		`t_share`
		(`title`,
		`description`,
		`share_label`,
		`share_time`,
		`file_url`,
		`user_id`,
		`user_name`,
		`level`,
		`status`,
		`create_by`,
		`update_by`,
		`create_time`,
		`update_time`)
		VALUES
		(#{title},
		#{description},
		#{shareLabel},
		#{shareTime},
		#{fileUrl},
		#{userId},
		#{userName},
		#{level},
		#{status},
		#{createBy},
		#{updateBy},
		#{createTime},
		#{updateTime});
	</insert>


	<select id="findAllByPage" parameterType="java.util.Map"
		resultType="com.an9elkiss.api.manager.model.Share">
		SELECT

		id id,
		title title,
		description description,
		share_label shareLabel,
		share_time shareTime,
		file_url fileUrl,

		user_id userId,
		user_name userName,
		level level,

		status status,
		create_by createBy,
		create_time createTime,
		update_by updateBy,
		update_time updateTime

		FROM
		t_share
		WHERE 1=1
		and status != 21
		ORDER BY updateTime DESC
		LIMIT
		#{searchParams.start} , #{searchParams.size}
	</select>
	
	<select id="findById" parameterType="java.lang.Integer"
		resultType="com.an9elkiss.api.manager.model.Share">
		SELECT

		id id,
		title title,
		description description,
		share_label shareLabel,
		share_time shareTime,
		file_url fileUrl,

		user_id userId,
		user_name userName,
		level level,

		status status,
		create_by createBy,
		create_time createTime,
		update_by updateBy,
		update_time updateTime

		FROM
		t_share
		WHERE 1=1
		and status != 21
		and id = #{shareId}
	</select>
	
	
	<update id="update" parameterType="com.an9elkiss.api.manager.model.Share">
		UPDATE t_share
		SET status = status
		<if test="status!=null and status!=''">
			, status = #{status}
		</if>
		<if test="updateBy!=null">
			, update_by = #{updateBy}
		</if>
		<if test="title!=null">
			, title = #{title}
		</if>
		<if test="description!=null">
			, description = #{description}
		</if>
		<if test="shareLabel!=null">
			, share_label = #{shareLabel}
		</if>
		<if test="shareTime!=null">
			, share_time = #{shareTime}
		</if>
		<if test="fileUrl!=null">
			, file_url = #{fileUrl}
		</if>
		where id=#{id}
	</update>

</mapper>