<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.an9elkiss.api.manager.dao.ShowConvertedWorkHoursDao">

	<select id="getEchartsData" parameterType="java.util.Map" resultType="com.an9elkiss.api.manager.command.EchartsCommand" >
		SELECT
			project.project,
			task.plan_hours planHours,
			task.percent_hours percentHours,
			wek.user_id memberId,
			wek.user_name username
		FROM
			t_task task,
			t_task_week wek,
			t_project project
		WHERE
			task.id = wek.task_id
			and project.code = task.project
			and task.is_parent is null
			and wek.end_time <![CDATA[>=]]> DATE_FORMAT(#{searchParams.startDate},'%Y-%m-%d')
			and wek.end_time <![CDATA[<=]]> DATE_FORMAT(#{searchParams.endDate},'%Y-%m-%d')
			AND wek.user_id in 
				<foreach collection="searchParams.list" item="list" open="(" close=")" separator=",">
		            #{list}
		        </foreach>
			AND wek.status != 21
			and task.status != 21
		order by wek.user_id
	</select>	

</mapper>