<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.an9elkiss.api.manager.dao.TaskWeekDao">


	<insert id="save" parameterType="com.an9elkiss.api.manager.model.TaskWeek" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO `t_task_week` 
		(`task_id`, `actual_score`, `current_status`, `actual_hours`, `end_time`, `user_id`, `year`, `month`, `week`, `status`, `create_by`, `update_by`, `user_name`, `level`) 
		VALUES (#{taskId}, #{actualScore}, #{currentStatus}, #{actualHours}, #{endTime}, #{userId}, #{year}, #{month}, #{week}, #{status}, #{createBy}, #{updateBy}, #{userName}, #{level});
	</insert>
	  
	<update id="update" parameterType="com.an9elkiss.api.manager.model.TaskWeek">
			UPDATE t_task_week 
			SET task_id = task_id
			<if test="taskId!=null">
			, task_id = #{taskId}
			</if>
			<if test="actualScore!=null">
			, actual_score = #{actualScore}
			</if>
			<if test="currentStatus!=null">
			, current_status = #{currentStatus}
			</if>
			<if test="actualHours!=null">
			, actual_hours = #{actualHours}
			</if>
			<if test="endTime!=null">
			, end_time = #{endTime}
			</if>
			<if test="userId!=null">
			, user_id = #{userId}
			</if>
			<if test="year!=null">
			, year = #{year}
			</if>
			<if test="month!=null">
			, month = #{month}
			</if>
			<if test="week!=null">
			, week = #{week}
			</if>
			<if test="status!=null and status!=''">
			, status = #{status}
			</if>
			<if test="createBy!=null and createBy!=''">
				, create_by = #{createBy}
			</if>
			<if test="updateBy!=null and updateBy!=''">
				, update_by = #{updateBy}
			</if>
			<if test="userName!=null and userName!=''">
				, user_name = #{userName}
			</if>
			<if test="level!=null and level!=''">
				, level = #{level}
			</if>
				
			where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM t_task_week
		WHERE id=#{id}
	</delete>
	
	<select id="findById" parameterType="Integer" resultType="com.an9elkiss.api.manager.model.TaskWeek" >
		SELECT id id,
		 task_id taskId,
		 actual_score actualScore,
		 current_status currentStatus,
		 actual_hours actualHours,
		 DATE_FORMAT(end_time,'%Y-%m-%d') endTime,
		 user_id userId,
		 YEAR YEAR,
		 MONTH MONTH,
		 WEEK WEEK,
		 status status,
		 create_by createBy,
		 create_time createTime,
		 update_by updateBy,
		 update_time updateTime,
		 user_name userName,
		 level
		FROM
			t_task_week
		WHERE id = #{id}
	</select>
	
	<select id="findByParams" parameterType="java.util.Map" resultType="com.an9elkiss.api.manager.model.TaskWeek" >
		SELECT id id,
		 task_id taskId,
		 actual_score actualScore,
		 current_status currentStatus,
		 actual_hours actualHours,
		 DATE_FORMAT(end_time,'%Y-%m-%d') endTime,
		 user_id userId,
		 YEAR YEAR,
		 MONTH MONTH,
		 WEEK WEEK,
		 status status,
		 create_by createBy,
		 create_time createTime,
		 update_by updateBy,
		 update_time updateTime,
		 user_name userName,
		 level
		FROM
			t_task_week
		WHERE 1=1
			and status != 21
		<if test="searchParams.startDate!=null">
			and end_time <![CDATA[>=]]> DATE_FORMAT(#{searchParams.startDate},'%Y-%m-%d')
		</if>
		<if test="searchParams.endDate!=null">
			and end_time <![CDATA[<=]]> DATE_FORMAT(#{searchParams.endDate},'%Y-%m-%d')
		</if>
		<if test="searchParams.id!=null">
			and id = #{searchParams.id}
		</if>
		<if test="searchParams.currentStatus!=null">
			and IFNULL(current_status,0) = #{searchParams.currentStatus}
		</if>
		<if test="searchParams.notCurrentStatus!=null">
			and IFNULL(current_status,0) != #{searchParams.notCurrentStatus}
		</if>
		<if test="searchParams.notStatus!=null">
			and IFNULL(status,0) != #{searchParams.notStatus}
		</if>
		<if test="searchParams.memberIds!=null">
			and user_id in(${searchParams.memberIds})
		</if>
		<if test="searchParams.taskid!=null">
			and task_id in(${searchParams.taskid})
		</if>
	</select>
	
</mapper>